.registration-container {
    background-color: white; 
    color:black; 
    padding: 2rem; 
    border-radius: 10px;
  }
  
  .btn-purple {
    color: #fff; 
    background-color:#8a2be2 !important;
    width: 50%;
  }
  .form-control {
    background-color: #adadad;
  }
  .erroralert{
    --bs-alert-padding-x: 10px;
    --bs-alert-padding-y:10px
  }